In [13]:
import pandas as pd
import numpy as np
import os
import urllib
%matplotlib inline
pd.set_option('display.float_format', lambda x: '%.5f' % x) #opción para evitar la notacion cientifica

url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data", "covid")
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url, csv_path)
df = pd.read_csv(csv_path)
df.columns = [col.strip() for col in df.columns]
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,1,1,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,1,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,1,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,1,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,1,0,0
...,...,...,...,...,...,...,...,...
31571,2020-07-26,ZW,Zimbabwe,AFRO,138,2434,2,34
31572,2020-07-27,ZW,Zimbabwe,AFRO,78,2512,0,34
31573,2020-07-28,ZW,Zimbabwe,AFRO,192,2704,2,36
31574,2020-07-29,ZW,Zimbabwe,AFRO,113,2817,4,40
31575,2020-07-30,ZW,Zimbabwe,AFRO,62,2879,1,41

In [14]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31576 entries, 0 to 31575
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      31576 non-null  object
 1   Country_code       31437 non-null  object
 2   Country            31576 non-null  object
 3   WHO_region         31576 non-null  object
 4   New_cases          31576 non-null  int64
 5   Cumulative_cases   31576 non-null  int64
 6   New_deaths         31576 non-null  int64
 7   Cumulative_deaths  31576 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.9+ MB

In [20]:
df[df.Country_code == "CO"]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
6167,2020-03-06,CO,Colombia,AMRO,1,1,0,0
6168,2020-03-07,CO,Colombia,AMRO,0,1,0,0
6169,2020-03-08,CO,Colombia,AMRO,0,1,0,0
6170,2020-03-09,CO,Colombia,AMRO,0,1,0,0
6171,2020-03-10,CO,Colombia,AMRO,2,3,0,0
...,...,...,...,...,...,...,...,...
6309,2020-07-26,CO,Colombia,AMRO,7168,233541,287,7975
6310,2020-07-27,CO,Colombia,AMRO,7254,240795,294,8269
6311,2020-07-28,CO,Colombia,AMRO,8181,248976,256,8525
6312,2020-07-29,CO,Colombia,AMRO,8125,257101,252,8777
6313,2020-07-30,CO,Colombia,AMRO,10284,267385,297,9074